body {
    /* background-color: green; */
    background-size: cover;
}

#img1 {
  max-width: 200px;
  max-height: 200px;
  float: right;
  margin-right: 0px 30px 0px 0px;
}

#metrics {
  text-align: center;
}

.buttons {
  margin-top: 35px;
  margin-left: 10px;
  justify-content: space-around;
  display: flex;
  align-items: flex-end;
}

h1 {
  justify-content: space-around;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
  color: teal;
}

#Feed:active{
  transform: translateY(2px);
}

#Sleep:active{
  transform: translateY(2px);
}

#Play:active{
  transform: translateY(2px);
}

#name-button:active{
  transform: translateY(2px);
}

#Feed {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px 10px 5px 10px;
}

#Sleep {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px 10px 5px 10px;
}

#Play {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px 10px 5px 10px;
}

#metrics {
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
}

#device {
  height: 420px;
  width: 400px;
  background-color: lightblue;
  margin: auto;
  margin-top: 70px;
  border-radius: 4%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  display: block
}

#screen {
  height: 275px;
  width: 300px;
  background-color: white;
  margin-top: 30px;
  margin-left: 45px;
  border-radius: 4%;
  border-width: 5px;
  border-style: solid;
}

#char1 {
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-left:
  
}

#char2 {
  height: 115px;
  width: 100px;
}

#char3 {
  height: 150px;
  width: 190px;
}

#name-button {
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
#add-name {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-left: 15px;
}
