body {
    /* background-color: green; */
    background-size: cover;
}

#img1 {
  max-width: 300px;
  max-height: 300px;
  float: right;
  margin-right: 50px;
}

#metrics {
  text-align: center;
}

.buttons {
  margin-top: 60px;
  margin-left: 10px;
  justify-content: space-around;
  display: flex;
  align-items: flex-end;

}

h1 {
  justify-content: space-around;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 300px;
  font-size: 45px;
}

#Feed:active{
  transform: translateY(2px);
}

#Sleep:active{
  transform: translateY(2px);
}

#Play:active{
  transform: translateY(2px);
}

#name-button:active{
  transform: translateY(2px);
}

#Feed {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px 10px 5px 10px;
}

#Sleep {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px 10px 5px 10px;
}

#Play {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px 10px 5px 10px;
}

#metrics {
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
}

#device {
  height: 500px;
  width: 450px;
  background-color: green;
  margin: auto;
  margin-top: 40px;
  border-radius: 4%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  display: block;
}

#screen {
  height: 300px;
  width: 350px;
  margin-top: 30px;
  margin-left: 45px;
  border-radius: 4%;
  border-width: 5px;
  border-style: solid;
  background-size: cover;
}

#pika {
  height: 100px;
  width: 100px;
  margin-left: 130px;
  margin-top: 100px;
  position: relative;
  animation: pikamove 1s infinite;
}

#name-button {
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
#add-name {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-left: 15px;
}
